@use '@styles/variables.scss' as *;

// 登录页的全局样式
.login {
  position: relative;
  height: 100vh;
  overflow: hidden;

  .el-input__inner {
    &:focus {
      border: 1px solid #4e83fd;
    }
  }

  .el-input--medium .el-input__inner {
    height: var(--el-component-custom-height);
    line-height: var(--el-component-custom-height);
  }
}
